.mainNav {
    background-color: #c7c7c7;
    padding: 5px 0 5px 0;
    position: sticky;
  }
  
  .mainNav li {
    list-style: none;
  }
  
  .mainNav a {
    text-decoration: none;
    font-size: 25px;
    color: black;
    font-weight: bold;
  }
  
  .mainNav a.active {
    border-bottom: 3px solid #00bcad;
  }