.sidebar {
    position: fixed;
    top: 0;
    width: 300px;
    height: 100vh;
    background-color: #c7c7c7;
    padding-top: 120px;
  }
  
  .sidebar button {
    text-align: center;
    margin: 1em;
    margin-top: 2em;
    padding: 1rem;
    font-size: 20px;
    font-weight: bold;
    background-color: #1ccbae;
    border: none;
    width: 87%;
    cursor: pointer;
  }
  
  .sidebar li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 1em;
    padding: 1rem;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
  }
  
  .sidebar .sent,
  .sidebar .received {
    color: white;
    font-weight: bold;
    background-color: #53a8f7;
    border-left: #1c76cb 5px solid;
  }